<p><%= @user.name %>様</p>
<p>====================================</p>
<p><strong>BRIDESAP</strong>をご利用いただき、ありがとうございます。</p>
<p>パスワードリセットのご依頼を受け付けました。</p>
<p>以下のリンクからパスワードの再発行をお願いいたします。</p>
<p><a href="<%= @url %>">パスワード再発行URL</a></p>

<p>上記のリンクは1度しか使用できません。</p>
<p>再度パスワードを変更する場合は<a href="<%= Settings.site.top_url %>">こちら</a>から再発行のご依頼をお願いいたします。</p>
